@charset "UTF-8";
@font-face {
  font-family: 'YouandiModernTR';
  src: url('../font/YouandiModernTR.woff') format('woff');
}

a { text-decoration: none; }

/* header */
header .navbar{
  height: 80px;
  font-family: "YouandiModernTR", serif;
  z-index: 300;
}

/* card area */
.card-img-top {
  width: 100px;
  height: 158px;
}

.container.card .left-title {
  font-family: "YouandiModernTR", serif;
  font-weight: 700;
}


/* event area */
.evt-1 {
  background: url('../img/event/evnt_vp_costco_1644467687120.png');
  background-position: right;
  background-size: cover;
}
.evt-2 {
  background: url('../img/event/576095_PCImg_C_1584_1644806891376.png');
  background-position: right;
  background-size: cover;
}
.evt-3 {
  background: url('../img/event/evnt_vp_rent_1644483522615_1646022506312_1646038178327.png');
  background-position: right;
  background-size: cover;
}
.evt-4 {
  background: url('../img/event/evnt_vp_casper_1644467607938.png');
  background-position: right;
  background-size: cover;
}

.event-banner h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
